

<main class="container">
    <% include ../partials/header %>
    <div id="jumbo" class="jumbotron" >
        <h1><%= tagline %></h1>
        <ul>
            <% allMyDogs.forEach(function(dog) { %>
                <li><%= dog.color %> (<%= dog.breed %>) <span class="age">Age: <%= dog.age %></span></li>
            <% }) %>
        </ul>
        <h1>All My Cats</h1>
        <ul>
            <% allMyCats.forEach(function(cat) { %>
                <li><%= cat.Color %> (<%= cat.Breed %>)</li>
            <% }) %>            
        <ul>
        <h1>Pet Toys</h1>
            <% toys.forEach(function(toy) { %>
                <li><%= toy.type %> (<%= toy.size %>)</li>
            <% }) %> 
        </ul>
        <ul>
            <h1>Dog Food</h1>
            <% foods.forEach(function(food) { %>
                <li><%= food.brand %> Flavor: <%= food.flavor %></li>
            <% }) %> 
        </ul>
        <p>Combined age: <%= combinedAge %></p>
    </div>
    <a href="about" class="link">About</a>
</div> 
<a href="contact" class="link">Contact Us</a>
<% include ../partials/footer %>
</main>

